#title{
	text-align: center;
	font-size:100px;
	font-family: cursive;
	margin-top:50px;
	margin-bottom:30px;
}

#intro{
	text-align: center;
}

.background{
	background-color:#dcdcbf;
}

.input{
	text-align:center;
}

.word_space{
	border:7px solid; 
	padding:30px;
	height:200px;
	width:1000px;
	margin-left:auto;
	margin-right:auto;
	margin-bottom:30px;
	margin-top:30px;
}

.textbox{
	height:50px;
	width:400px;
	font-size:30px;
	vertical-align:middle;

}

#mainBtn{
	height:50px;
	vertical-align:middle;
	display:inline;
	margin-left: 10px;

}

#introBtn{
	height:200px;
	width:600px;
	margin-top: 50px;
	font-size: 110px;
}

#endBtn{
	height:100px;
	width:500px;
	margin-top: 50px;
	font-size: 50px;
}

.word{
	text-align: center;
	vertical-align: middle;
	font-size:80px;
	font-weight: bold;

}

.cnt{
	text-align: center;
	font-size:50px;
	margin-top:30px;
	margin-bottom:30px;
}

.timer{
	text-align: center;
	font-size:50px;
	margin-top:30px;
	margin-bottom:30px;
}

#end{
	text-align: center;
	font-size:50px;
	margin-top:30px;
	margin-bottom:30px;
}

#own{
	text-align: center;
	margin-top:20%;
}